######################################################
# Example Environment Variables
######################################################

# Site Links
VITE_CFX_STORE_URL=https://store.example.com/       # CFX Store website
VITE_BAN_DB_URL=https://bandb.example.com/          # Ban Database website
VITE_DOCS_URL=https://docs.example.com/             # Documentation website
VITE_STATUS_URL=https://status.example.com/         # Status page website

# External Links
VITE_DISCORD_URL=https://discord.gg/your-server     # Discord server invite link
VITE_GITHUB_URL=https://github.com/your-org         # GitHub profile or organization link
